  <div class="container">
    <div class="row">
      <div class="col l5 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">A. P. Shah Institute of Technology (APSIT) has started functioning with
          commitment of imparting state of art
          technical education so as to inculcate conceptual know-how, analyzing skills, decision making abilities and
          leadership
          qualities in the students. APSIT stands committed to the intellectual and moral growth of every student.</p>
      </div>
      <div class="col l5 s12">
        <h5 class="white-text">Vision and Mission</h5>
        <p class="grey-text text-lighten-4">APSIT aspires to be a premier institute producing globally competent
          engineering professionals to contribute towards socio-economic growth of India.<br>
          Our mission is to provide conducive and collaborative environment to meet contemporary and future Engineering
          challenges by project based and value-added education with the support of trained faculty.
        </p>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" style="text-decoration-line:underline" href="http://apsit.edu.in/">A P
              Shah Institute of Technology</a></li><br>
          <li><a class="grey-text text-lighten-3" style="text-decoration-line:underline"
              href="http://moodle.apsit.org.in/moodle/">Moodle</a></li><br>
          <li><a class="grey-text text-lighten-3" style="text-decoration-line:underline"
              href="http://admission.apsit.org.in/">Online Payment Portal</a></li><br>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container">
      <p class="center">Developed By Debashish Choudhury, Utkarsh Naik and Anagha
        Devade, BE-IT 2020,<br>Under the guidance of Prof. Anagha Aher and Prof. Vishal Badgujar, Department of
        Information Technology.</p>
      <p class="center">© 2020 APSIT Appraisal System. All Rights Reserved</p>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
  </div>