<ul id="dropdown2" class="dropdown-content">
  <li><a href="/staffInfo" class = "black-text">Staff information</a></li>
  <li><a href="/leaveform" class = "black-text">Leave form</a></li>
  <li class="divider"></li>
  <li><a href="#!" class = "black-text">More</a></li>
</ul>
<nav class="purple">
    <div class="container">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Appraisal</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="" data-target="dropdown1">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content text-black">
  <li><a href="/staffinfo" class = "black-text">Staff information</a></li>
  <li><a href="/leaveform" class = "black-text">Leave form</a></li>
  <li class="divider"></li>
  <li><a href="#!" class = "black-text">More</a></li>
</ul>
  </div>
  </div>


</nav>

{{!-- side bar content for mobile view --}}
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a class="dropdown-trigger" href="" data-target="dropdown2">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>

  {{!-- tabs content --}}
<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a href="/">Test 1</a></li>
    {{!-- <li class="tab"><a class="active" href="/leaveform">Leave Form</a></li> --}}
    <li class="tab"><a class="black-text" href="/leaveform">Leave Form</a></li>
    {{!-- <li class="tab disabled"><a href="#test3">Disabled Tab</a></li> --}}
    <li class="tab"><a href="#test4">Test 4</a></li>
    <li class="tab"><a href="#test0">Test 5</a></li>
  </ul>