<nav class='purple'>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Appraisal System</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/form">Appraisal Form</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/form">Appraisal Form</a></li>
</ul>