{{!-- Dropdown for side bar --}}

<ul id="academic-mobile" class="dropdown-content">
  <li><a href="/academicPerformance/teachingLoad" class="black-text">Teaching Load</a></li>
  <li><a href="/academicPerformance/teachingAssistant" class="black-text">Teaching Assistant</a></li>
  <li><a href="/academicPerformance/newBooks" class="black-text">New Books</a></li>
  <li><a href="/academicPerformance/addedExp" class="black-text">Added Experiments</a></li>
  <li><a href="/academicPerformance/innovativeTeaching" class="black-text">Teaching Techniques</a></li>
  <li class="divider"></li>
</ul>
<ul id="annexure-1-mobile" class="dropdown-content">
  <li><a href="/annexure-1/timeTable" class="black-text">Time table related activities</a></li>
  <li><a href="/annexure-1/classAdvisor" class="black-text">Class advisor</a></li>
  <li><a href="/annexure-1/sportsActivities" class="black-text">Sports Activities</a></li>
  <li><a href="/annexure-1/culturalActivities" class="black-text">Cultural Activities</a></li>
  <li><a href="/annexure-1/projectBasedLearning" class="black-text">Project Based Learning</a></li>
  <li><a href="/annexure-1/udaan" class="black-text">UDAAN Incubation Activities</a></li>
  <li><a href="/annexure-1/placementActivities" class="black-text">Placement Activities</a></li>
  <li><a href="/annexure-1/inhousePlacement" class="black-text">In house Placement activities</a></li>
  <li><a href="/annexure-1/studentActivities" class="black-text">Student organization activities</a></li>
  <li><a href="/annexure-1/industrialVisit" class="black-text">Industrial Visits Related Activities</a></li>
  <li><a href="/annexure-1/admissionProcess" class="black-text">Admission Process Activities</a></li>
  <li><a href="/annexure-1/examSupervision" class="black-text">Exam Activities(Supervision)</a></li>
  <li><a href="/annexure-1/examAssignment" class="black-text">Exam Assessment Activities </a></li>
  <li><a href="/annexure-1/examPractical" class="black-text">Exam Activities (Ass./O/P)</a></li>
  <li><a href="/annexure-1/maintenance" class="black-text">IT Maintenance</a></li>
  <li><a href="/annexure-1/lakshya" class="black-text">Lakshya related Activities</a></li>
  <li><a href="/annexure-1/newsletter" class="black-text">Newsletter related Activities</a></li>
  <li><a href="/annexure-1/sttp" class="black-text">Conduct of STTP</a></li>
  <li><a href="/annexure-1/UG-Projects" class="black-text">UG Projects Undertaken</a></li>
  {{!-- <li class="divider"></li> --}}
</ul>

<div class="navbar-fixed">
  <nav class="purple fix">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Appraisal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="" data-target="academic-web">Academic<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="" data-target="annexure-1-web">Annexure 1<i
                class="material-icons right">arrow_drop_down</i></a></li>
          {{!-- <li><a class="dropdown-trigger" href="" data-target="annexure-2-web">Annexure 2<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="" data-target="annexure-3-web">Annexure 3<i
                class="material-icons right">arrow_drop_down</i></a></li> --}}
          <li><a href="/leaveform">Leave</a></li>
          <li><a href="/profile/index">Profile</a></li>
        </ul>
        {{!-- dropdown of web view --}}
        <ul id="academic-web" class="dropdown-content text-black">
          <li><a href="/academicPerformance/teachingLoad" class="black-text">Teaching Load</a></li>
          <li><a href="/academicPerformance/teachingAssistant" class="black-text">Teaching Assistant</a></li>
          <li><a href="/academicPerformance/newBooks" class="black-text">New Books</a></li>
          <li><a href="/academicPerformance/addedExp" class="black-text">Added Experiments</a></li>
          <li><a href="/academicPerformance/innovativeTeaching" class="black-text">Teaching Techniques</a></li>
          <li class="divider"></li>
        </ul>
        <ul id="annexure-1-web" class="dropdown-content">
          <li><a href="/annexure-1/timeTable" class="black-text">Time table related activities</a></li>
          <li><a href="/annexure-1/classAdvisor" class="black-text">Class advisor</a></li>
          <li><a href="/annexure-1/sportsActivities" class="black-text">Sports Activities</a></li>
          <li><a href="/annexure-1/culturalActivities" class="black-text">Cultural Activities</a></li>
          <li><a href="/annexure-1/projectBasedLearning" class="black-text">Project Based Learning</a></li>
          <li><a href="/annexure-1/udaan" class="black-text">UDAAN Incubation Activities</a></li>
          <li><a href="/annexure-1/placementActivities" class="black-text">Placement Activities</a></li>
          <li><a href="/annexure-1/inhousePlacement" class="black-text">In house Placement activities</a></li>
          <li><a href="/annexure-1/studentOrganizations" class="black-text">Student organization activities</a></li>
          <li><a href="/annexure-1/industrialVisit" class="black-text">Industrial Visits Related Activities</a></li>
          <li><a href="/annexure-1/admissionProcess" class="black-text">Admission Process related Activities</a></li>
          <li><a href="/annexure-1/examSupervision" class="black-text">Exam related Activities (University Exams:
              Supervision Details)</a></li>
          <li><a href="/annexure-1/examAssignment" class="black-text">Exam Assessment Related Activities </a></li>
          <li><a href="/annexure-1/examPractical" class="black-text">Exam related Activities (Assessment/Oral/Practical
              Exams Conducted)</a></li>
          <li><a href="/annexure-1/maintenance" class="black-text">IT Maintenance</a></li>
          <li><a href="/annexure-1/lakshya" class="black-text">Lakshya related Activities</a></li>
          <li><a href="/annexure-1/newsletter" class="black-text">Newsletter related Activities</a></li>
          <li><a href="/annexure-1/sttp" class="black-text">Conduct of STTP</a></li>
          <li><a href="/annexure-1/UG-Projects" class="black-text">Departmental UG Projects Undertaken</a></li>
          {{!-- <li class="divider"></li> --}}
        </ul>
      </div>
    </div>
</div>
{{!-- side bar content for mobile view --}}
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a class="dropdown-trigger" href="" data-target="academic-mobile">Academic<i
        class="material-icons right">arrow_drop_down</i></a></li>
  <li><a class="dropdown-trigger" href="" data-target="annexure-1-mobile">Annexure 1<i
        class="material-icons right">arrow_drop_down</i></a></li>
  <li><a href="/profile/index">Profile</a></li>
</ul>