<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appraisal System</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .input-field label {
            color: black !important;
        }

        .input-field input {
            color: black !important;
        }

        .input-field input:focus+label {
            color: black !important;
        }

        i.fa {
            color: black;
        }

        input[type=button] {
            color: purple;
        }

        li a.sideNavPadding {
            padding: 0 16px;
        }

        .icon_style {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

        #overview {
            margin-bottom: 1.5%;

        }

        .collapsible-header {
            display: block;
        }
        footer {
            display: flex;
            min-height: 41vh;
            flex-direction: column;
            }

        main {
            flex: 1 0 auto;
            }
    
    </style>

</head>

<body>

    {{> _navbar}}
    <div class="container">
        {{> _msg}}
        {{> _errors}}
        {{{body}}}
        <br>
        

    </div>
    {{> _footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Side bar initialization
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
        });
        // Dropdown initialization
        $(".dropdown-trigger").dropdown({
            constrainWidth: false,
            coverTrigger: false,
            hover: true
        });

        // Form select option initialization
        $(document).ready(function () {
            $('select').formSelect();
        });
        $(document).ready(function () {
            $('select').material_select();
        });

        // Date format initialization
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
        $('.tooltipped').tooltip();
        $('button').addClass('purple');

        //ack checkbox validation
        $('#indeterminate-checkbox').click(function () {
            //check if checkbox is checked
            if ($(this).is(':checked')) {

                $('#submit_btn').removeAttr('disabled'); //enable input

            } else {
                $('#submit_btn').attr('disabled', true); //disable input
            }
        });

        $(document).ready(function () {
            $('.tabs').tabs();
        });

        //Collapsable div initialization
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
        $('#alert_close').click(function () {
            $("#alert_box").fadeOut("slow", function () {
            });
        });


    </script>
    
</body>

</html>