<h4>1. Academic Performance</h4><br>
<div class="container">
<h5>1.5 Innovative Teaching Technique</h5>
<hr>
<div class="row" id="leaveform">
    <form action="/academicPerformance/innovation" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="subject_name" type="text" name="subject_name" class="validate" required>
                <label for="subject_name">Subject Name</label>
            </div>
            <div class="input-field col s6">
                <input id="class" type="text" name="class" class="validate" required>
                <label for="class">Class</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <select name="semester">
                    <option value="" disabled selected>Semester</option>
                    <option value="sem 1">Sem 1</option>
                    <option value="sem 2">Sem 2</option>
                    <option value="sem 3">Sem 3</option>
                    <option value="sem 4">Sem 4</option>
                    <option value="sem 5">Sem 5</option>
                    <option value="sem 6">Sem 6</option>
                    <option value="sem 7">Sem 7</option>
                    <option value="sem 8">Sem 8</option>
                </select>
            </div>
            <div class="input-field col s6 md5">
                <input id="technique" type="text" name="technique" class="validate" required>
                <label for="technique">Technique adopted</label>
            </div>
        </div>
        <button onclick="M.toast({html: 'Teaching technique added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>