<h4> Academic Performance</h4><br>
<div class="container">
<h5> Teaching Load</h5>
<hr>
<div class="row">
            
            <div class="input-field col s6">
                <select name="academic_year">
                    <option value="" disabled selected>Academic Year</option>
                    <option value="2014-15">2014-15</option>
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                    <option value="2019-20">2019-20</option>
                    
                </select>
            </div>
        </div>

<div class="row" id="leaveform">
    <form action="/academicPerformance/teachingLoad" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="subject_name" type="text" name="subject_name" class="validate " required>
                
                <label for="subject_name" class="">Subject Name</label>
                
            </div>
            <div class="input-field col s6">
                <select name="class">
                    <option value="" disabled selected>Class</option>
                    <option value="FE">FE</option>
                    <option value="SE">SE</option>
                    <option value="TE">TE</option>
                    <option value="BE">BE</option>
                    
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
            <div class="input-field col s6 md5">
                <select name="semester">
                    <option value="" disabled selected>Semester</option>
                    <option value="sem 1">Sem 1</option>
                    <option value="sem 2">Sem 2</option>
                    <option value="sem 3">Sem 3</option>
                    <option value="sem 4">Sem 4</option>
                    <option value="sem 5">Sem 5</option>
                    <option value="sem 6">Sem 6</option>
                    <option value="sem 7">Sem 7</option>
                    <option value="sem 8">Sem 8</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="theory" type="number" name="theory_subject" class="validate" required>
                <label for="theory">Theory Teaching Load(per week)</label>
            </div>
            <div class="input-field col s6">
                <input id="lab" type="number" name="lab_subject" class="validate" required>
                <label for="lab">Lab Teaching Load(per week)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="tutorials" type="number" name="tutorials" class="validate" required>
                <label for="tutorials">Tutorials Teaching Load (per week)</label>
            </div>
            <div class="input-field col s6">
                <input id="theory_session" type="number" name="theory_session" class="validate" required>
                <label for="theory_session">No. of Theory sessions conducted(hrs)</label>
                
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="practical_session" type="number" name="practical_session" class="validate" required>
                <label for="practical_session">No. of Practical sessions conducted(hrs)</label>
            </div>
            <div class="input-field col s6">
                <input id="Student_feedback" type="number" name="Student_feedback" class="validate" required>
                <label for="Student_feedback">Online Student feedback(1-5)</label>
                
            </div>
        </div>
       <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
        </button>
    </form>
</div>
</div>