<h4>Annexure 3</h4><br>
<div class="container">
<h5>3.2 Contribution To Syllabus Framing</h5>
<hr>
<div class="row" id="contibutionToSyllabus">
    <form action="/annexure-3/contibutionToSyllabus" method="post" class="col s12">
        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofsub" type="text" name="nameofsub" class="validate" required>
                <label for="nameofsub">Name Of Subject</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="role" type="text" name="role" class="validate" required>
                <label for="role">Role</label>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofuni" type="text" name="nameofuni" class="validate" required>
                <label for="nameofuni">Name Of University</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="otherdetails" type="text" name="otherdetails" class="validate" required>
                <label for="otherdetails">Other Details</label>
            </div>
        </div>

  <a href="/annexure-3/contibutionToSyllabus" class="waves-effect waves-light btn center">Not Applicable</a>
        <button onclick="M.toast({html: 'Contribution To Syllabus Framing added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>