<h4>Annexure 3</h4><br>
<div class="container">
<h5>3.3 Member Of University Committe</h5>
<hr>

<div class="row" id="memberOfUniversityCommitte">
    <form action="/annexure-3/memberOfUniversityCommitte" method="post" class="col s12">
        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofCommittee" type="text" name="nameofCommittee" class="validate" required>
                <label for="nameofCommittee">Name Of Committee</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="rolesAndResponsibility" type="text" name="rolesAndResponsibility" class="validate" required>
                <label for="rolesAndResponsibility">Roles And Responsibility</label>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="designation" type="text" name="designation" class="validate" required>
                <label for="designation">Designation</label>
            </div>
            
         </div>

        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" />
                 <span>I acknowledge that above filled information is verified and justified.</span>
                </label>
            </p>
        </div>

 <a href="/annexure-3/memberOfUniversityCommitte" class="waves-effect waves-light btn center red">Not Applicable</a>
        <button onclick="M.toast({html: ' Member Of University Committe added successfully'})" class="btn waves-effect waves-light" type="submit">Submit
        </button>
    </form>
</div>
</div>