<h4>Annexure 3</h4><br>
<div class="container">
<h5>3.3 Member Of University Committe</h5>
<hr>

<div class="row" id="memberOfUniversityCommitte">
    <form action="/annexure-3/memberOfUniversityCommitte" method="post" class="col s12">
        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofcommittee" type="text" name="nameofcommittee" class="validate" required>
                <label for="nameofcommittee">Name Of Committee</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="rolesandresponsibility" type="text" name="rolesandresponsibility" class="validate" required>
                <label for="rolesandresponsibility">Roles And Responsibility</label>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="designation" type="text" name="designation" class="validate" required>
                <label for="designation">Designation</label>
            </div>
            
            
        </div>

  <a href="/annexure-3/memberOfUniversityCommitte" class="waves-effect waves-light btn center">Not Applicable</a>
        <button onclick="M.toast({html: ' Member Of University Committe added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>