<h4>Annexure 3</h4><br>
<div class="container">
<h5>3.1 Resource Person in STTP/Training Course/Lecture Talks</h5>
<hr>

<div class="row" id="resourcePerson">
    <form action="/annexure-3/resourcePerson" method="post" class="col s12">
        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="Topic Name" type="text" name="Topic Name" class="validate" required>
                <label for="Topic Name">Topic Name</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="department" type="text" name="department" class="validate" required>
                <label for="department">Department</label>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofinstitute" type="text" name="nameofinstitute" class="validate" required>
                <label for="nameofinstitute">Name Of Institute</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="numberofparticipants" type="number" name="numberofparticipants" class="validate" required>
                <label for="numberofparticipants">Number Of Participants</label>
            </div>
        </div>

  <a href="/annexure-3/resourcePerson" class="waves-effect waves-light btn center">Not Applicable</a>
        <button onclick="M.toast({html: ' Resource Person in STTP/Training Course/Lecture Talks added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>