<h4>Annexure 1</h4><br>
<div class="container">
<h5>1.2 Class Advisor</h5>
<hr>
<div class="row" id="classAdvisor">
    <form action="/annexure-1/classadvisor" method="post" class="col s12">
        <div class="row">
             <div class="input-field col s6">
                <select name="class_name">
                    <option value="" disabled selected>Class</option>
                    <option value="FE">FE</option>
                    <option value="SE">SE</option>
                    <option value="TE">TE</option>
                    <option value="BE">BE</option>
                    
                </select>
            </div>
             <div class="input-field col s6">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
        </div>

        <div class="row">
           
             <div class="input-field col s6 md5">
                <select name="semester">
                    <option value="" disabled selected>Semester</option>
                    <option value="sem 1">Sem 1</option>
                    <option value="sem 2">Sem 2</option>
                    <option value="sem 3">Sem 3</option>
                    <option value="sem 4">Sem 4</option>
                    <option value="sem 5">Sem 5</option>
                    <option value="sem 6">Sem 6</option>
                    <option value="sem 7">Sem 7</option>
                    <option value="sem 8">Sem 8</option>
                </select>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="duties" type="text" name="duties" class="validate" required>
                <label for="duties">Duties Performed</label>
            </div>
        </div>
        <a href="/annexure-1/sportsActivities" class="waves-effect waves-light btn center">Not Applicable</a>
        <button onclick="M.toast({html: 'Class Advisor Duties added succesfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>