<h4>Annexure 1</h4><br>
<div class="container">
    <h5>1.13 Exam Assessment Related Activities (External)</h5>
    <hr>
    <div class="row" id="examAssessmentExternal">
        <form action="/annexure-1/examAssessmentExternal" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="exam-role-external" type="text" name="exam_role_external" class="validate" required>
                    <label for="exam-role-external">Role</label>
                </div>
                <div class="input-field col s6 md5">
                    <select name="semester">
                        <option value="" disabled selected>Semester</option>
                        <option value="sem 1">Sem 1</option>
                        <option value="sem 2">Sem 2</option>
                        <option value="sem 3">Sem 3</option>
                        <option value="sem 4">Sem 4</option>
                        <option value="sem 5">Sem 5</option>
                        <option value="sem 6">Sem 6</option>
                        <option value="sem 7">Sem 7</option>
                        <option value="sem 8">Sem 8</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="name_of_college_university" type="text" name="name_of_college_university"
                        class="validate" required>
                    <label for="name_of_college_university">College/University</label>

                </div>

                <div class="input-field col s6">
                    <input id="exam_subject_external" type="text" name="exam_subject_external" class="validate"
                        required>
                    <label for="exam_subject_external">Subject</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="outdoor_activities" type="number" name="outdoor_activities" class="validate" required>
                    <label for="outdoor_activities">Total Number Of Outdoor Activites</label>
                </div>

                <div class="input-field col s6">
                    <input id="papers_revaluated" type="number" name="papers_revaluated" class="validate" required>
                    <label for="papers_revaluated">Number Of Paper Revaluated</label>
                </div>

            </div>


            <div class="row">
                <div class="input-field col s6">
                    <input id="papers_moderated" type="number" name="papers_moderated" class="validate" required>
                    <label for="papers_moderated">Number Of Paper Moderated</label>
                </div>
            </div>
            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that above filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
    </div>
    <a href="/annexure-1/examActivitiesCollegeLevel" class="waves-effect waves-light btn red center">Not Applicable</a>
    <button onclick="M.toast({html: ' Exam Assessment related External Work added succesfully'})"
        class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit
    </button>
    </form>
</div>
</div>