<h4>Annexure 1</h4><br>
<div class="container">
<h5>1.10 Industrial Visit Activities</h5>
<hr>
<div class="row" id="industrialVisitActivities">
    <form action="/annexure-1/industrialVisitActivities" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="industrial-visit-role" type="text" name="industrial_visit_role" class="validate" required>
                <label for="industrial-visit-role">Role</label>
            </div>
             <div class="input-field col s6 md5">
                <input id="class_name" type="text" name="class_name" class="validate" required>
                <label for="class_name">Class</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="industrial-visit-days" type="number" name="industrial_visit_days" class="validate" required>
                <label for="industrial-visit-days">No. of Days</label>
            </div>   
            
        </div>
        <div class="row">

           <div class="input-field col s6 md5">
                <select name="industrial_visit_organizer">
                    <option value="" disabled selected>Organized By</option>
                    <option value="IEEE">IEEE</option>
                    <option value="ITSA">ITSA</option>
                    <option value="TPO">TPO</option>
                    <option value="Others">Others</option>
                  
                </select>
            </div>
            
             <div class="input-field col s6 md5">
                <input id="name-of-company" type="text" name="name_of_company" class="validate" required>
                <label for="name-of-company">Name of Company visited</label>
            </div>  
            
        </div>
        <div class="row">
            <div class="input-field col s6">
                    <textarea id="iv-description" name="iv_description" class="materialize-textarea"></textarea>
                    <label for="iv-description">Description</label>
                </div>
            <div class="input-field col s6 md5">
                <input id="industrial-visit-hrs" type="number" name="industrial_visit_hrs" class="validate" required>
                <label for="industrial-visit-hrs">Duration(hours)</label>
            </div> 


        </div>
        <div class="row">
           
             <div class="input-field col s6 md5">
                <input id="iv-start-date" type="date" name="iv_start_date" class="validate" required>
                <label for="student-event-start-date">Start Date</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="iv-end-date" type="date" name="iv_end_date" class="validate" required>
                <label for="student-event-end-date">End Date</label>
            </div>
        </div>
        <a href="/annexure-1/admissionProcessActivities" class="waves-effect waves-light btn center">Not Applicable</a>
        <button onclick="M.toast({html: 'Industrial Visit Activities contribution added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>