<h4>Annexure 1</h4><br>
<div class="container">
<h5>In-house Placement Activities(Trainings and Workshops)</h5>
<hr>
<div class="row" id="in-house-placementActivities">
    <form action="/annexture-1/inhouseplacement" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="trainings-and-workshops" type="text" name="trainings-and-workshops" class="validate" required>
                <label for="trainings-and-workshops">Trainings and Workshops conducted</label>
            </div>
             <div class="input-field col s6 md5">
                <input id="class_name" type="text" name="class_name" class="validate" required>
                <label for="class_name">Class</label>
            </div>
        </div>

        <div class="row"> 
            
            <div class="input-field col s6 md5">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="civil">Civil</option>
                    <option value="comp">Computer</option>
                    <option value="it">Information Technology</option>
                    <option value="extc">Electronics and Telecommunication</option>
                    <option value="mech">Mechanical</option>
                   
                </select>
            </div>

            <div class="input-field col s6 md5">
                <input id="no-of-participants" type="number" name="no-of-participants" class="validate" required>
                <label for="no-of-participants">Number of students participated</label>
            </div>
        </div>
        <button onclick="M.toast({html: 'In-house Placement Activities contribution added successfully'})" class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>