<h4>Annexure 1</h4><br>
<div class="container">
<h5>1.7 Placement Activities</h5>
<hr>
<div class="row" id="placementActivities">
    <form action="/annexure-1/placementActivities" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <select name="placement_role">
                    <option value="" disabled selected>Role</option>
                    <option value="tpo">TPO</option>
                    <option value="dept coordinator">Dept Co-ordinator</option>
                  
                </select>
            </div>
             <div class="input-field col s6 md5">
                <input id="no-of-companies" type="number" name="no_of_companies" class="validate" required>
                <label for="no-of-companies">Number of Companies visited</label>
            </div>
        </div>

        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="no-of-placed-students" type="number" name="no_of_placed_students" class="validate" required>
                <label for="no-of-placed-students">Number of students placed</label>
            </div>
           
             
            
            <div class="input-field col s6">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
        </div>
        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <a href="/annexure-1/inhousePlacement" class="waves-effect waves-light btn red center">Not Applicable</a>
        <button class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
</div>
</div>