<h4>Annexure 1</h4><br>
<div class="container">
    <h5>1.5 Project Based Learning</h5>
    <hr>
    <div class="row" id="projectBasedLearning">
        <form action="/annexure-1/projectBasedLearning" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="pbl-subject" type="text" name="pbl_subject" class="validate" required>
                    <label for="pbl-subject">Name of Subject</label>
                </div>
                <div class="input-field col s6 md5">
                    <input id="pbl-role" type="text" name="pbl_role" class="validate" required>
                    <label for="pbl-role">Role</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s6 md5">
                    <input id="pbl-start-date" type="date" name="pbl_start_date" class="validate" required>
                    <label for="pbl-start-date">Start Date</label>
                </div>

                <div class="input-field col s6 md5">
                    <input id="pbl-end-date" type="date" name="pbl_end_date" class="validate" required>
                    <label for="pbl-end-date">End Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="pbl-description" name="pbl_description" class="materialize-textarea validate"
                        required></textarea>
                    <label for="pbl-description">Description</label>
                </div>
            </div>
            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that above filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <a href="/annexure-1/udaan" class="waves-effect waves-light btn red center">Not Applicable</a>
            <button onclick="M.toast({html: 'PBL contribution added successfully'})"
                class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
            </button>
        </form>
    </div>
</div>