<h4>Annexure-2</h4><br>
<div class="container">
<h5>2.4 MOOCS</h5>
<hr>
<div class="row" id="moocs">
    <form action="/annexure-2/moocs" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name_of_moocs_undertaken" type="text" name="name_of_moocs_undertaken" class="validate " required>
                <label for="name_of_moocs_undertaken" class="">Name Of MOOCS course undertaken</label>
            </div>

            <div class="input-field col s6">
                <input id="moocs_date" type="text" name="moocs_date" class="validate" required>
                <label for="moocs_date">Month / Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="moocs_duartion" type="number" name="moocs_duartion" class="validate " required>
                <label for="moocs_duartion" class="">Duration Of Course</label>
            </div>

             <div class="input-field col s6">
                <select name="certification_status">
                    <option value="" disabled selected>Certification Completed</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>

        <button class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>
