<h4>Annexure-2</h4><br>
<div class="container">
<h5>1.4 MOOCS</h5>
<hr>
<div class="row" id="moocs">
    <form action="/annexure-2/moocs" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name of moocs undertaken" type="text" name="name of moocs undertaken" class="validate " required>
                <label for="name of moocs undertaken" class="">Name Of MOOCS course undertaken</label>
            </div>

            <div class="input-field col s6">
                <input id="date" type="date" name="date" class="validate" required>
                <label for="date">Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="duration" type="text" name="duartion" class="validate " required>
                <label for="duration" class="">Duration Of Course</label>
            </div>

             <div class="input-field col s6">
                <select name="certification">
                    <option value="" disabled selected>Certification Completed</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>

        <button class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>
