<h4>Annexure-2</h4><br>
<div class="container">
    <h5>2.7 Seminars </h5>
    <hr>
    <div class="row" id="seminars">
        <form action="/annexure-2/seminars" method="post" class="col s12">

            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="name_of_seminar" type="text" name="name_of_seminar" class="validate " required>
                    <label for="name_of_seminar" class="">Name Of Seminar</label>
                </div>

                <div class="input-field col s6">
                    <input id="techonology" type="text" name="techonology" class="validate" required>
                    <label for="techonology">Techonology</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s6 md5">
                    <input id="duration_of_course" type="number" name="duration_of_course" class="validate " required>
                    <label for="duration_of_course" class="">Duration Of Course (In Months)</label>
                </div>

                <div class="input-field col s6 md5">
                    <input id="start_date" type="date" name="start_date" class="validate " required>
                    <label for="start_date" class="">Starting Date</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col s6 md5">
                    <input id="end_date" type="date" name="end_date" class="validate " required>
                    <label for="end_date" class="">Ending Date</label>
                </div>

                <div class="input-field col s6">
                    <select name="internal_external">
                        <option value="" disabled selected>Internal/External</option>
                        <option value="Internal">Internal</option>
                        <option value="External">External</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="name_of_institue" type="text" name="name_of_institue" class="validate" required>
                    <label for="name_of_institue">Name Of Institue where attended</label>
                </div>
            </div>



            <button class="btn waves-effect waves-light darken-3" type="submit">Submit
            </button>
        </form>
    </div>
</div>