<h4>Annexure-2</h4><br>
<div class="container">
<h5>1.6 Short Term Training </h5>
<hr>
<div class="row" id=shorttermtraining>
    <form action="/annexure-2/shorttermtraining" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="shorttermtraining" type="text" name="shorttermtraining" class="validate " required>
                <label for="shorttermtraining" class="">Name Of STTP's Conducted</label>
            </div>

            <div class="input-field col s6">
                <input id="techonology" type="text" name="techonology" class="validate" required>
                <label for="techonology">Techonology</label>
            </div>
        </div>
        
        <div class="row">

            <div class="input-field col s6 md5">
                <input id="duration of course" type="number" name="duration of course" class="validate " required>
                <label for="duration of course" class="">Duration Of Course (In Months)</label>
            </div>

            <div class="input-field col s6 md5">
                <input id="date" type="date" name="date" class="validate " required>
                <label for="date" class="">Starting Date</label>
            </div>

        </div>

        <div class="row">

            <div class="input-field col s6 md5">
                <input id="date" type="date" name="date" class="validate " required>
                <label for="date" class="">Ending Date</label>
            </div>

            <div class="input-field col s6">
                <select name="internal/external">
                    <option value="" disabled selected>Internal/External</option>
                    <option value="Internal">Internal</option>
                    <option value="External">External</option>
                </select>
            </div>
        </div>

        <div class="row">
            <input id="nameofinstitue" type="text" name="nameofinstitue" class="validate" required>
            <label for="nameofinstitue">Name Of Institue where attended</label>
        </div>
     

         
        <button class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>
