<h4>Annexure-2</h4><br>
<div class="container">
    <h5>2.6 Short Term Training </h5>
    <hr>
    <div class="row" id=shorttermtraining>
        <form action="/annexure-2/shortTermTraining" method="post" class="col s12">

            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="short_term_training" type="text" name="short_term_training" class="validate " required>
                    <label for="short_term_training" class="">Name Of STTP's Conducted</label>
                </div>

                <div class="input-field col s6">
                    <input id="techonology" type="text" name="techonology" class="validate" required>
                    <label for="techonology">Techonology</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s6 md5">
                    <input id="short_term_training" type="number" name="duration_of_course" class="validate " required>
                    <label for="short_term_training" class="">Duration Of Course (In Months)</label>
                </div>

                <div class="input-field col s6 md5">
                    <input id="date" type="text" name="start_date" class="datepicker validate " required>
                    <label for="date" class="">Starting Date</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col s6 md5">
                    <input id="date" type="text" name="end_date" class="datepicker validate " required>
                    <label for="date" class="">Ending Date</label>
                </div>

                <div class="input-field col s6">
                    <select name="internal_external">
                        <option value="" disabled selected>Internal/External</option>
                        <option value="Internal">Internal</option>
                        <option value="External">External</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="name_of_institue" type="text" name="name_of_institue" class="validate" required>
                    <label for="name_of_institue">Name Of Institue where attended</label>
                </div>
            </div>
            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that above filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <a href="/annexure-2/seminars" class="waves-effect waves-light btn red center">Not Applicable</a>
            <button onclick="M.toast({html: 'Short term training details added succesfully'})" class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
            </button>
        </form>
    </div>
</div>