<h4>Annexure-2</h4><br>
<div class="container">
<h5>2.5 Swayam</h5>
<hr>
<div class="row" id="swayam">
    <form action="/annexure-2/swayam" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name_of_swayam_undertaken" type="text" name="name_of_swayam_undertaken" class="validate " required>
                <label for="name_of_swayam_undertaken" class="">Name Of SWAYAM course undertaken</label>
            </div>

            <div class="input-field col s6">
                <input id="swayam_date" type="text" name="swayam_date" class="validate" required>
                <label for="swayam_date">Month / Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="swayam_duartion" type="number" name="swayam_duartion" class="validate " required>
                <label for="swayam_duartion" class="">Duration Of Course</label>
            </div>

             <div class="input-field col s6">
                <select name="certification_status">
                    <option value="" disabled selected>Certification Completed</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>
        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <a href="/annexure-2/shortTermTraining" class="waves-effect waves-light btn red center">Not Applicable</a>
        <button onclick="M.toast({html: 'Swayam details added succesfully'})" class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
</div>
</div>
