<h4>Annexure-2</h4><br>
<div class="container">
<h5>1.5 Swayam</h5>
<hr>
<div class="row" id="swayam">
    <form action="/annexure-2/swayam" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name of course" type="text" name="name of course" class="validate " required>
                <label for="name of course" class="">Name Of Swayam Course Undertaken</label>
            </div>

            <div class="input-field col s6">
                <input id="date" type="date" name="date" class="validate" required>
                <label for="date">Date</label>
            </div>
        </div>
        
        <div class="row">

            <div class="input-field col s6 md5">
                <input id="duration of course" type="number" name="duration of course" class="validate " required>
                <label for="duration of course" class="">Duration Of Course (In Months)</label>
            </div>

            <div class="input-field col s6">
                <select name="certification">
                    <option value="" disabled selected>Certification Completed</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>

         
        <button class="btn waves-effect waves-light darken-3" type="submit">Submit
        </button>
    </form>
</div>
</div>
