<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <div class="container">
                    <span class="card-title">
                        <div class="center"><b>Login Page</b></div>
                        <h3>
                            <ul class="tabs">
                                <li class="tab col s6"><a href="#faculty" class="black-text">Faculty Login</a></li>
                                <li class="tab col s6"><a href="#hod" class="black-text">HOD Login</a></li>
                            </ul>
                        </h3>
                    </span>
                    <div id="faculty">
                        <form class="container" method="post" action="/users/faculty/login">

                            <div class="row">
                                <div class="input-field s12 m4 l8">
                                    <input id="email" type="email" name="email" class="validate">
                                    <label for="email">Faculty Email ID</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field s12 m4 l8">
                                    <input id="password" type="password" name="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <button class="btn waves-effect waves-light" type="submit" id="submit_btn">Submit</button>
                        </form>
                    </div>

                    <div id="hod">
                        <form class="container" method="post" action="/users/hod/login">
                            <div class="row">
                                <div class="input-field s12 m4 l8">
                                    <input id="email" type="email" name="email" class="validate">
                                    <label for="email">HOD Email ID</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field s12 m4 l8">
                                    <input id="password" type="password" name="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <button class="btn waves-effect waves-light" type="submit" id="submit_btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="center">
            <p>If you are a new user, <a class="waves-effect waves-light btn purple" href="/users/register">register
                    here</a> </p>
        </div>
    </div>
</div>