<h4>Faculty Overview</h4>
<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            Academic Performance</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div>Teaching Load<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>Teaching Assistant<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>New Books suggested to library<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>Additional Experiments Added To Lab Manual<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>

                    </div>
                </li>
                <li class="collection-item">
                    <div>Innovative Teaching Technique Adopted<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>

                    </div>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            Leave Record</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div>Leave Record<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            Annexure 1</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div>1.1 Timetable related activities<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.2 Class Advisor<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.3 Sports Activities<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.4 Cultural Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.5 Project Based Learning<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.6 UDAAN Incubation Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.7 Placement Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.8 In-house Placement Activities(Trainings and Workshops)<a href="#!"
                            class="secondary-content"><button class="waves-effect waves-light btn-small" type="submit"
                                name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.9 Student Organization Activities<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.10 Industrial Visit Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.11 Admission Process Related Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.12 Exam related activities(University exams Supervision)<a href="#!"
                            class="secondary-content"><button class="waves-effect waves-light btn-small" type="submit"
                                name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.13 Exam Assessment Related Activities (External)<a href="#!"
                            class="secondary-content"><button class="waves-effect waves-light btn-small" type="submit"
                                name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.14 Exam related Activities (Assessment/Oral/Practical Exams Conducted, college level)<a
                            href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.15 IT Maintenance<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.16 Lakshya Related Activties<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.17 Magazine/Newsletter Related Activities
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.18 Conduct Of STTP
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>1.19 Department UG Projects Undertaken<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            Annexure 2</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div>2.1 Papers Published In National Conference
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.2 Papers Published International Conference<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.3 Papers Published In Journals<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.4 MOOCS<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.5 Swayam<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.6 Short Term Training<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>2.7 Seminars<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>

            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            Annexure 3</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <div>3.1 Resource Person in STTP/Training Course/Lecture Talks
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>3.2 Contribution To Syllabus Framing<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>3.3 Member Of University Committe<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>3.4 Consultancy Assignment<a href="#!" class="secondary-content"><button
                                class="waves-effect waves-light btn-small" type="submit" name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>3.5 External Projects Or Competitions Participations<a href="#!"
                            class="secondary-content"><button class="waves-effect waves-light btn-small" type="submit"
                                name="action">New
                            </button></a>
                        <a href="#!" class="secondary-content"><button class="waves-effect waves-light btn-small"
                                type="submit" name="action">Edit
                            </button></a>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>