<form method="post" action="/forgot/reset/faculty/{{token}}">
    <h5>Forgot password</h4>
    <div class="row">
        <div class="input-field s12 m4 l8">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">New Password</label>
        </div>
        <div class="input-field s12 m4 l8">
            <input id="confirm" type="password" name="confirm" class="validate">
            <label for="confirm">Confirm Password</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="submit_btn">Submit</button>
</form>