<div>
<form method="post" action="/forgot/hod">
    <h5>Forgot password</h5>
    <div class="row">
        <div class="input-field s12 m4 l8">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email ID</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="submit_btn">Submit</button>
</form><br><br><br>
</div>