<h4>HoD's Overview</h4>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            Academic Performance</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>Teaching Assistant

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>

                        </div>
                    </p>
                </li>


                <li class="collection-item">
                    <p>
                        <div>Teaching Assistant

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>


                <li class="collection-item">
                    <p>
                        <div>New Books Suggested To Library

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>


                <li class="collection-item">
                    <p>
                        <div>Additional Experiment Added To Lab Manual

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>


                <li class="collection-item">
                    <p>
                        <div>Innovative Teaching Technique Adapted

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            Leave Record</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>Leave Record

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            Annexure 1</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>1.1 Timetable Related Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.2 Class Advisor

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.3 Sports Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.4 Cultural Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.5 Project Based Learning

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.6 UDAAN Incubation Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.7 Placement Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.8 In-house Placement Activities(Trainings and Workshops)

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>


                <li class="collection-item">
                    <p>
                        <div>1.9 Student Organisation Activity

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.10 INdustrial Visit Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.11 Admission Related Activities

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.12 Exam related activities(University exams Supervision)

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.13 Exam related activities(External)

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.14 Exam related activities(Assessment/Oral/Practical Exams Conducted, college level)

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.15 IT Maintenance
                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.16 Lakshya Related Activities
                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.17 Magazine/Newsletter Related Activities
                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.18 Conduct Of STTP
                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>1.19 Department UG Projects Undertaken
                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
            Annexure 2</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>2.1 Papers Published In National Conference

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.2 Papers Published International Conference

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.3 Papers Published In Journals

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.4 MOOCS

                            <div class="right">
                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.5 Swayam

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.6 Short-Term Traning

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>2.8 Seminars

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

            </ul>
        </div>
    </li>


    <li>
        <div class="collapsible-header">
            Annexure 3</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>3.1Resource Person in STTP/Training Course/Lecture Talks

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>3.2 Contribution To Syllabus Framing

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>3.3 Member Of University Committe

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>3.4 Consultancy Assignment

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>3.5 External Projects Or Competitions Participations

                            <div class="right">

                                <a class="waves-effect waves-light btn-small">View</a>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </li>
</ul>

<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>